{# empty Twig template #}
<!DOCTYPE html>

<html>

	<body>
            {{ article.auteur }}
            <img src="{{ 'sdf' ~ 'bundles/framework/images/fjkm-site_rafitra.jpg' ~ 'sdf'}}"/>
        </body>
</html>