html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
        color: #000;
}

@font-face {
font-family: 'Mission Script';
font-style: normal;
font-weight: normal;
src: local('Mission Script'), url('/web/bundles/front/ivandry/css/fonts/Mission-Script.woff') format('woff');
}

@font-face {
    font-family: 'heldustryftvbasic_blackRg';
    src: url('/web/bundles/front/ivandry/css/fonts/heldftvblack-webfont.eot');
    src: url('/web/bundles/front/ivandry/css/fonts/heldftvblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('/web/bundles/front/ivandry/css/fonts/heldftvblack-webfont.woff2') format('woff2'),
         url('/web/bundles/front/ivandry/css/fonts/heldftvblack-webfont.woff') format('woff'),
         url('/web/bundles/front/ivandry/css/fonts/heldftvblack-webfont.ttf') format('truetype'),
         url('/web/bundles/front/ivandry/css/fonts/heldftvblack-webfont.svg#heldustryftvbasic_blackRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*="col-"], footer {


  text-align: center;    
	 /* border: 1px solid grey;*/


}

img{ }
.ico{
    width: 10%;
    min-width: 20px;
    max-width: 30px;
    margin-left: 2%;
}
.ico2{
    width: 10%;
    min-width: 20px;
    max-width: 30px;
    margin-right: 4%;
    float: right;
}
.container {
padding-left:0px;
padding-right:0px;

}

@media (min-width: 768px) {

  .container {

    width: 100%;
	padding-left:0px;
	padding-right:0px;
  }

}

@media (min-width: 992px) {

  .container {

    width: 100%;
	padding-left:0px;
	padding-right:0px;
  }

}

@media (min-width: 1200px) {

  .container {

    width: 100%;
	padding-left:0px;
	padding-right:0px;
  }

}

#map-container { 
    width: auto;
	margin-left:5px;
	margin-right:5px;
	margin-left:5px;
	height: 300px;
	border: 2px solid #BED13E;
	
	
 }

.scrollpan {
	
	
} 

.row-list {
	height:300px;
	text-align:left;
	padding-left:15px;
	overflow: scroll;
} 

dl {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
}

dt{
color:#BED13E;	
	
}
.img_fampianarana{
	
}
.elan{
	padding-top:30px;
}
t1{
color:#1E1E1A;
font-weight:bold;
font-size:20px;
}
t3{
color:#BED13E;
font-weight:bold;
font-size:25px;
float:left;
margin-bottom: 10px;
}
t4{
color:#BED13E;
font-weight:bold;
font-size:20px;
margin-top: 8px;
}
t1a{
color:#1E1E1A;
font-weight:bold;
font-size:20px;
float:left;
}

.fampianarana{
	height:390px;
	background-color: #BED13E;


}
.fampianarana_ligne{
	height:147px;
		/*background-color: #BED13E;*/
                overflow: hidden;
                padding-bottom: 10px;
                padding-top: 10px;
}
.fampianarana_sep_v{
	border-left:1px solid rgba(255, 255, 255, 1);
	height:147px;
}
.fampianarana_sep_h{
	border-bottom:1px solid rgba(255, 255, 255, 1);
}
.fampianarana_txt{
	height:147px;
	/*background-color: #BED13E;*/
}
.fampianarana_content{
	padding-top:30px;
	padding-bottom:10px;
	text-align:left;
	overflow:hidden;
}
.titre_t1a{
height:60px;	
padding-top:18px;
padding-left:32px;
	
}
.sary1{
	height:147px;
	padding-top:30px;
}
t2{
color:#1E1E1A;
font-weight:bold;
font-size:16px;
}
t2a{
	color:#fff;
	font-size:14px;
}
t3a{
	color:#000;
	font-weight:bold;
	font-size:14px;
}
t3b{
	color:#000;
	font-size:12px;
}
.txt_gauche{
	text-align:left;
	padding-left:5px;
	top:5px;
}
.img_logo{
	width:100%;
	max-width:86px;
}
.img_illu{
	width:100%;
	max-width:320px;
}
.head_banner{
	height:93px;
	background-color:#1E1E1A;
	padding-top:16px;
}

.head_logo{
	width:100%;
	max-width:130px;
	margin-top:-13px;
}
.input-sm{
	height:25px;
	width: 100px;
	border:2px solid #BED13E;
	border-radius:0px;
	background-color:#1E1E1A;
	color:#fff;
	}
.btn-primary{
	border-color:#fff;
	margin:-6px;
}
.img_fampianarana_page{
	width:85%;
	margin:auto;
}
.img_fampianarana_page_conteneur{
	float:left;
}
.allign{
	width:90%;
	margin:auto;
}
.image_fampianarana{
    padding-top: 10px;
    padding-bottom: 10px;
}
.titre_fampianarana{
    height: 80px;
    margin-left: 3.5%;
    vertical-align: bottom;
    padding-top: 30px;
}
.nav_page{
    margin-left: 3.5%;
}
.menu_intermed{
    height: 60px;
    background-color: #1E1E1A;
    margin-top: 40px;
}
.page{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: solid 2px #BED13E;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 3px;
    display: inline-block;
}
.scrol_cont{
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;
}
.alahady{
    text-align: left;
    padding-right: 15px;
}
.alahady_ico{
    background-image: url("/web/images/ivandry/fampianarana_ico.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 45px;
    width: 45px;
    font-size: 23px;
    padding-top: 8px;
    font-weight: bold;
    float:left;
    margin-bottom: 10px;
    margin-right: 5px;

}
.ico_suite{
    text-align: left;
    padding-right: 15px;
}
.liste_page{
    margin: auto;
    display: inline-block;
}

/*CSS IALY*/

@media (max-width:767px) {
  .container {

    width: 100%;

  }
  [class*="col-"], footer {


  }
  #sous-menu {
    background-color: #bfd13f;
    width: inherit;
    position: relative;
  }
  .recherche{
    margin-right: 0px;
    background-color: #2f2f27;
    width: inherit;
    position: inherit;
  }
}

@media (min-width: 768px) and (max-width: 959px) {

  .container {

    width: 100%;

  }
  /*#sous-menu {
    background-color: #bfd13f;
    /*width: 600px;
  }
  .dropdown-menu {
      background-clip: padding-box;
      font-size: 14px;
      left: 0;
      list-style: outside none none;
      min-width: 590px;
      padding: 5px 5px;
      text-align: left;
      top: 100%;
      z-index: 1000;
      position: static;
      margin-left: -100px;
  } 
  .navbar-collapse .caret  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }*/
  #navbar4{
    /*margin-left: -16px;/*
    width: inherit;
    font-family: 'Open Sans Condensed','Arial Narrow', serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-top: 0px;
    background-position: #bfd13f;
    /*margin-right: -16px;*/
    /*position: static;*/
  }
  .recherche{
/*    float: right;
    margin-right: 25px;
    margin-top: -55px;
    position: relative;*/
    width: 205px;
  }
  .recherche1{
    position: absolute;
    width: 198px;
  }

  .example4 .navbar-brand>img {
    margin-top: -22px;
    margin-left: 290px;
    padding: 0 2px;
    width: 136px;
  }
}

@media (min-width: 960px) {

  .container {

    width: 100%;

  }

  #navbar4{
    font-family: 'Open Sans Condensed','Arial Narrow', serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-top: 19px;
    position: absolute;
    /*margin-left: 150px;*/
    width: 100%;
    background-position: #bfd13f;
  }

  .recherche{

  }
  .recherche1{
    position: absolute;
    width: 198px;
  }
  .example4 .navbar-brand>img {
    margin-top: -24px;
    padding: 0 2px;
    width: 136px;
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {

  .container {

    width: 100%;
  }
  .recherche{
/*    float: right;
    margin-top: -125px;
    padding-left: 0px;*/
  }
  /*.dropdown-menu {
      background-clip: padding-box;
      font-size: 14px;
      left: 0;
      list-style: outside none none;
      min-width: 590px;
      padding: 5px 5px;
      text-align: left;
      top: 100%;
      z-index: 1000;
      position: absolute;
      margin-left: -100px;
  }*/
  #navbar4{
    font-family: 'Open Sans Condensed','Arial Narrow', serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-top: 19px;
    position: absolute;
    /*margin-left: 265px;*/
    width: 100%;
    background-color:#bfd13f;
  }
 /* .navbar-header{
    height: 90px;
    width: 100%;
    position: relative;
  }
  .navbar-nav .dropdown-menu{
      position: absolute;
  }
  .navbar-collapse .caret  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
/*  .example4 .navbar-brand>img {
    margin-top: -24px;
    padding: 0 2px;
    width: 136px;
    margin-left: 15px;
  }*/
  /*#sous-menu {
    background-color: #bfd13f;
    width: 600px;
  }*/
}

/* HEADER */

.header, .footer {
  background-color: #2f2f27;
}
.head-oth{
  background-color: #2f2f27;
}
.milieu {
  background-color: #b2cd3e;
}


#navbar4{
  font-family: 'Open Sans Condensed','Arial Narrow', serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  /*width: 720px;*/
  background-color: #2f2f27;
}

/*#menuhaut{
  font-family: 'Open Sans Condensed','Arial Narrow', serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  margin-top: -41px;
  margin-left: 110px;
  width: 577px;
  background-color: #2f2f27;
}*/

#sous-menu{
  width:inherit;
  background-color: #bfd13f;
}

#menubas {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Open Sans Condensed','Arial Narrow', serif;
  color: #fff;
}
#bouton{
  width: auto;
  border-radius: 2px;
  border:2px solid #bfd13f;
}
.logoFJ{
  margin-top: -21px;
}

.hafa{
    z-index: 10;
    position:absolute;
}
/* Ajout Niry */

.fampianarana_alahady, .recherche {
    text-align: left;
}

.fil_ariane {
    float: left;
    padding-top: 25px;
}

.petit_gras {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.ariane {
    color: #BED13E;
    font-size: 14px;
    font-weight: bold;
}

t3{
	color: #BED13E;
	font-size:24px;
    font-weight: bold;
    float: left;
    padding-top: 10px;
}

.fampianarana_bloc, .sary {
    padding-top: 25px;
    text-align: left;
    width: 256px;
}
.fampianarana_bloc>a>img{
    height: 165px;
}

.picto {
    width: 30px;

}   

.samihafa {
    background-color: #8cc63f;
}


.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li > a {
    color: #000;
    background-color: #fff;
    border-color: #8cc63f;
    font-size: 16px;
}

.pagination > li.deux > a:hover,
.pagination > li.deux > a:focus,
.pagination > li.deux > a:active,
.pagination > li.deux > a {
    color: #000;
    background-color: #8cc63f;
    border-color: #000;
    font-size: 16px;
}

.recherche {
    height: 800px;
    padding-left: 50px;
    padding-top: 50px;
}    

.resul_recherche>ul {
    padding-left: 50px;
    padding-top: 50px;
    text-align: left;
}    

.resul_recherche {
    text-align: left;
}
  
.resul_recherche > li > a {
    color: #BED13E;
    font-size: 14px; 
    font-weight: bold;
}  

.popup_sary {
    float: left;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
} 

.highlight {
	width:100%;
	max-width:500px;
}

.icone {
    background-color: #8cc63f;
    vertical-align: middle
}    

.thumbnail {
    padding: 15px;
    border: 0px;
    box-shadow: none;
    border-radius:0px;
}

.modal {

  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 1);
}

.modal-ivandry {
    background-color: white;
}

.tsiahy_logo{
    width: 300px;
}

.tsiahy{
    align-content: center;
}
ts3{
    align-content: center;
    color:#BED13E;
    font-weight:bold;
    font-size:25px;
    margin-bottom: 10px;
}
.tsiahy_txt{
    max-width: 500px;
    margin: auto;
    text-align: justify;
    margin-bottom: 10px;
}
.tsiahy_btn{
    width: 5%;
    min-width: 30px;
    margin-bottom: 10px;
}
.timeline_paire_annee{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    color: #1E1E1A;
    font-weight: bold;
    max-width: 100px;
    margin: auto;
    margin-bottom: 5px;
}
.timeline_paire_picto{
    max-width: 50px;
    min-width: 30px;
    width: 10%;
    margin: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}
.timeline_paire_ligne_g{
    border-right: 2px solid;
    border-right-color: #1E1E1A;
    
}
.timeline_paire_img_g{
    width: 100%;
    min-width: 180px;
    height: 150px;
    /*background-color: #1E1E1A;*/
    float: right;
    background-image: url("/web/images/ivandry/timeline_head_g.png"); 
    background-position:right top 50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-right: 50px;
    margin-right: -10px;
    
}
.timeline_paire_img_d_int{
    width: 90%;
    min-width: 130px;
    float: left;
    background-color: #1E1E1A;
    height: 100%;
}
.timeline_paire_img_d{
    width: 100%;
    min-width: 180px;
    height: 150px;
    /*background-color: #1E1E1A;*/
    float: right;
    background-image: url("/web/images/ivandry/timeline_head_d.png"); 
    background-position:left top 50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 50px;
    margin-left: -20px;
    
}
.timeline_paire_img_g_int{
    width: 90%;
    min-width: 130px;
    float: right;
    background-color: #1E1E1A;
    height: 100%;
}
.timeline_paire_ligne_d{
    border-left: 2px solid;
    border-left-color: #1E1E1A;
    margin-left: -2px;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  /*padding: 20px 0px;*/
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #fff;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #000;
  font-size: 14px;
}
@media (max-width: 1199px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .haut{
      background-color: #BED13E;
      margin-top:0px;
    }
  
  .dropdown-menu-large > li {
    margin-bottom: 0px;
  }
  
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar{
	height:40px;
    margin-top: -7px;
  }
  .navbar-default{
    background-color: #1E1E1A;
    border: none;
    font-size:16px;
    font-weight: bold;
   }
   .navbar-collapse{
    background-color: #1E1E1A;
    width: 100%;
    border: none;
    z-index: 999;
    position: relative;
   }
}

@media (min-width: 1200px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar{
	height:40px;
    margin-top: 20px;
  }
  .navbar-default{
    background-color: transparent;
    border: none;
    font-size:16px;
    font-weight: bold;
   }
   .navbar-form{
    padding-top:10px;
    }
      .haut{
      margin-top:20px;
      height: 40px;
      background-color: #BED13E;
    }
}

@media (min-width:768px){
    .cache{display: none}
}
@media (max-width:768px){
    .cache1{display: none}
}

.dropdown-toggle{
    
}
.navbar-default .navbar-nav > li > a{
   color: white; 
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
   color: #BED13E;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
      color: #BED13E;
      background-color: transparent;
      border-bottom: solid;
      border-bottom-width: 2px;
      border-bottom-color: #BED13E;
}

.dropdown-menu{
    background-color: #BED13E;
}

.dropdown-header{
    border-right: solid;
    border-color: #000;
    border-width: 1px;
}
.navbar-brand{
	padding:0px;
}
.picto2{
    display: inline-block;
    vertical-align: middle;
    float: right;
	width:48px;
}
.fifandraisana{
	float:left;
	padding-left:50px;
}
.fifandraisana2{
	float:left;
}
.contact_txt {
    color: #000;
    font-size: 16px;
    font-weight: bold;

}
 .lig{
	 height:80px;
	 padding-top:20px;
 }
 .dropdown{
	 font-size:1em;
 }
.nav>li>a{
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	border-right:1px solid white;
	padding-top: 11px;
	line-height: 1px;
}
.nav .open > a{
	border-color:white;
}
.nav .open > a:focus, .nav .open > a:hover{
		border-color:white;
}
.navbar-nav > li > .dropdown-menu{
	/*margin-top:-22px;*/
}
.lohahevitra{
	margin-bottom: 10px;
	text-align:center;
	padding-top:5px;
}
.daty_lohahevitra{
	font-family:'heldustryftvbasic_blackRg';
	font-size:1.7em;
	color:#BED13E;
}
.txt_lohahevitra{
	font-family:'Mission Script';
	font-weight:normal;
	font-size:2em;
}
 .txt_float{
        font-family:'heldustryftvbasic_blackRg';
        font-size:1.6em;
        font-weight:normal;
	 position:absolute;
	 top:0px; 
         bottom: 10px;
	 z-index:2;
         color: white;
         overflow: hidden;
         height: 50px;
         width: inherit;
         text-align: left;
         padding-left: 20px;
         background-color: rgba(0,0,0,0.2);
         line-height: 48px;
 }
 .img_slide{
	 position:relative;
 }
 .foot{
     height: 120px;
     background-color: #1E1E1A;
      padding-top: 27px;
 }
 .rs{
     height: 40px;
     width: 180px;
     background-color: #BED13E;
    background-image: url("/web/images/ivandry/rsb.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100px;
    display: block;
    margin-top:20px;
 }
 .rst{
     color: white;
 }
 .rse{
         float: right;
 }
 .rafitra_bloc{
     width: 256px;
     height: 220px;
     margin: auto;
     background-color: #1E1E1A;
     overflow: hidden;
     text-align: left;
     margin-bottom: 50px;
     
 }
 .descr{
     text-align: left;
     margin-bottom: 10px;
 }
 .nom_rafitra{
     color: white;
     font-size: 12px;
     margin-left:5px;
 }
 .ariane2 {
    color: #BED13E;
    font-size: 15px;
    font-weight: bold;
    margin-left:5px;
}
t3b{
color:#BED13E;
font-weight:bold;
font-size:25px;
float:left;

}
.head_banner2{
	height:93px;
	background-color:#1E1E1A;
        padding-top: 12px;
}
.navbarb{
    height:40px;
    margin-top: 5px;
}
.dropdown-toggle2{
    padding-left: 0px;
}
.nav3>li>a{
	padding-right:35px;
	text-align:center;
	padding-top: 11px;
}
.nav3{
    padding-left: 1px;
}

.titre{
    float: left;
}
.sampana_bloc2{
    padding-left: 30px;
    padding-top: 30px;
}
.nom_sampana{
    color: white;
}
.sampana_descr{
    margin-bottom: 10px;
}
.sampana_bloc3{
    background-image: url("/web/images/ivandry/isa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 140px;
    height: 156px;
    font-size: 40px;
    padding-top: 91px;
    font-weight: bold;
    float:left;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: white;
}
.descr_sampana{
    text-align: left;
    padding-top: 20px;
    margin-bottom: 10px;
}
 .rafitra_bloc2{
     max-width: 220px;
     margin-right: 5px;
     background-color: #1E1E1A;
     overflow: hidden;
     text-align: left;
     margin-bottom: 50px;
     
 }
 .sampana_bloc4{
    background-image: url("/web/images/ivandry/tantara.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 210px;
    height: 50px;
    font-size: 40px;
    padding-top: 91px;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
    color: white;
}
.tetikasa_bloc {
    padding-top: 25px;
    text-align: left;
    margin-bottom: 70px;
    height: 110px;
}
.nav{
    font-family: 'heldustryftvbasic_blackRg';
}
@media (max-width: 768px){
    .fond_deg{
	background : -moz-radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	background : -webkit-radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	background : -webkit-gradient(radial,-2.13% 35.77% ,0 , -2.13% 35.77%, 991.49 ,color-stop(0,rgba(190, 209, 62, 1) ),color-stop(1,rgba(140, 198, 63, 1) ));
	background : -o-radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	background : -ms-radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"*/
	background : radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	height : 650px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}
.tetikasa_bloc{max-width: 350px;}
}
@media (min-width: 769px){.fond_deg
{
	background : -moz-radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	background : -webkit-radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	background : -webkit-gradient(radial,-2.13% 35.77% ,0 , -2.13% 35.77%, 991.49 ,color-stop(0,rgba(190, 209, 62, 1) ),color-stop(1,rgba(140, 198, 63, 1) ));
	background : -o-radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	background : -ms-radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"*/
	background : radial-gradient(-2.13% 35.77%, circle farthest-side, rgba(190, 209, 62, 1) 0%, rgba(140, 198, 63, 1) 100%);
	height : 390px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}
}
.rond1{
  border-radius:50%;
  width:12px;
  height:12px;
  border:1px solid #000; 
  display: inline-block;
    vertical-align: middle;
}
.rond2{
  border-radius:50%;
  width:16px;
  height:16px;
  border:1px solid #000; 
  display: inline-block;
    vertical-align: middle;
}
.rond3{
  border-radius:50%;
  width:20px;
  height:20px;
  border:1px solid #000; 
  display: inline-block;
  vertical-align: middle;
}
.alahady_nom{
        font-family: 'heldustryftvbasic_blackRg';
	font-weight:normal;
	font-size:1.4em;
        display: inline;
        vertical-align: middle;
}
.rsd1{
    height: 40px;
    width: 180px;
    background-color: #BED13E;
    background-image: url("/web/images/ivandry/rsb.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100px; 
    display: -moz-inline-box;
    vertical-align: middle;
}
.rs_txt{
    color:white;
            font-family: 'heldustryftvbasic_blackRg';
	font-weight:normal;
	font-size:1.1em;
        display: inline;
        vertical-align: middle;
}
.fampianarana_bloc1{
    margin: auto;
}

/*++++++++++++++TIMELINE+++++++++++++++*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #000;
        left: 50%;
        margin-left: -1px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
			background-color:#1e1e1a;
            padding: 20px;
            position: relative;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #1e1e1a;
                border-right: 0 solid #1e1e1a;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #1e1e1a;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }
		
        .timeline-badge1 {
            color: #fff;
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            z-index: 100;
			border: 2px solid #000;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
/*++++++++++++++++++++FIN TIMELINE+++++++++++++++*/
