* {margin:0; padding:0}
.sm {
    list-style:none; 
    /*width:1200px;*/
    height:438px; 
    display:block; 
    overflow:hidden;
}
.sm li {
    float:left;
    display:inline;
    overflow:hidden
}
.slideimage {
    border: 0px solid #fff;
    padding-bottom: 0px;
}    

