<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<!-- Date de création: 10/01/05 -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <title>TONGASOA</title>
	   
  <style type="text/css">	
  h1 {text-align:center}	
  body {
  color:black;
  background-color:black;
  background-repeat:no-repeat;
  background-size: 100%;
  text-align: center;
  }

  </style>
  <meta description="Exemple de positionnement en positionnement d'une image de fond au centre d'une page html" />
</head>
<body>		 
    <img src="fond.jpg">
</body>																	
</html>