{% extends "frontBundle::principal.html.twig" %}

{% block body %}
    <div class="row">
        <div class="allign">
            <div class="nav_page"><a href="" style="font-weight: bold;">Tongasoa ></a><a href="" style="color:#BED13E;font-weight: bold;">Fifandraisana</a></div>
        </div>
    </div>
    <div class="row">
        <div class="allign">
            <div class="titre_fampianarana"><t3>FIFANDRAISANA</t3></div>
        </div>
    </div>
    <!--FANDAHARANA ALAHADY-->
    <div class="row">
        <!--BLOC ALAHADY 1-->    
        <div class="allign">
            <div class="row lig">
                    <div class="col-xs-4 col-sm-3 col-md-1 col-lg-1">  
						<div class="fifandraisana"><img class="picto2" src="/web/images/ivandry/phone.png" alt="Telephone" /></div>
					</div>					
					<div class="col-xs-8 col-sm-9 col-md-11 col-lg-11">	
						<div class="fifandraisana2"><span class="contact_txt">020 00 XXX XX</span></div>
					</div>                  
                </div> 

                <div class="row lig">
                    <div class="col-lg-1">  
						<div class="fifandraisana"><img class="picto2" src="/web/images/ivandry/mobile.png" alt="Mobile" /></div>
					</div>					
					<div class="col-lg-11" >	
						<div class="row">
						<div class="fifandraisana2"><span class="contact_txt">034 00 XXX XX</span></div>
						</div> 
						<div class="row">
						<div class="fifandraisana2"><span class="contact_txt">033 00 XXX XX</span></div>
						</div> 
						<div class="row">
						<div class="fifandraisana2"><span class="contact_txt">032 00 XXX XX</span></div>
						</div> 
					</div>                  
                </div>

                <div class="row lig">
                    <div class="col-lg-1">  
						<div class="fifandraisana"><img class="picto2" src="/web/images/ivandry/mail.png" alt="Mail" /></div>
					</div>					
					<div class="col-lg-11">	
						<div class="fifandraisana2"><span class="contact_txt">020 00 XXX XX</span></div>
					</div>                  
                </div>

                <div class="row lig">
                    <div class="col-lg-1">  
						<div class="fifandraisana"><img class="picto2" src="/web/images/ivandry/rs.png" alt="Reseaux" /></div>
					</div>					
					<div class="col-lg-11">	
						<div class="fifandraisana2"><span class="contact_txt">020 00 XXX XX</span></div>
					</div>                  
                </div>
        </div>
        <!--FIN BLOC ALAHADY 1-->   
    </div>
    
{% endblock %}    