{% extends "backBundle::principal.html.twig" %}

{% block title %}backBundle:Info:add{% endblock %}

{% block body %}
    <h1>Ajouter info flash</h1>

    <form action="{{ path("info_add") }}" name="info" method="post">
        
        <div class="container">
            <div class="row">
                <label for="info_titre" class="col-lg-2">Titre</label>
                <input type="text" class="col-lg-4" id="info_titre" name="info[titre]" required="required" maxlength="255">
            </div>
            <div class="row">
                <label for="info_text" class="col-lg-2">Contenue</label>
                <textarea id="info_text" class="col-lg-4" name="info[texte]" required="required" maxlength="255"></textarea>
            </div>
            <div class="row">
                <label for="info_date" class="col-lg-2">Date</label>
                <input type="date" class="col-lg-4" id="info_date" name="info[date]" required="required" maxlength="255">
            </div>
            <div class="row">
                <label for="info_type" class="col-lg-2">Type</label>
                <select id="info_type" class="col-lg-4" name="info[type_id]">
                    {% for type in types %}
                        <option value = {{ type.id }} >{{ type.libelle }}</option>

                    {% endfor %}

                </select>
            </div>
        </div>

        
        <input type="submit" value="Create">
        
    </form>

{% endblock %}
