{# empty Twig template #}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Back Office site web FJKM Ivandry</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% stylesheets output="css/compiled/backOffice.css" filter="cssrewrite"
            '@backBundle/Resources/public/bootstrap/css/bootstrap.min.css'
            '@backBundle/Resources/public/dist/css/font-awesome.min.css'
            '@backBundle/Resources/public/dist/css/ionicons.min.css'
            '@backBundle/Resources/public/dist/css/AdminLTE.min.css'
            '@backBundle/Resources/public/dist/css/skins/skin-blue.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    
    

  </head>
  

  <body class="hold-transition skin-blue sidebar-mini">
    
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>A</b>LT</span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><b>BACK</b>OFFICE</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
            
        </header>
        
      <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">HEADER</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active">
                        <a href=" {{ path('info_index') }} ">
                            <i class="fa fa-link"></i> <span>Info</span>
                        </a>
                    </li>
      
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Sampana</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('sampana_index') }}">Reniny</a></li>
                            <li><a href="#">Zana-tsampana</a></li>
                        </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Articles</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Fampianarana</a></li>
                            <li><a href="#">Tetik'asa</a></li>
                        </ul>
                    </li>
                </ul><!-- /.sidebar-menu -->
            </section>
        <!-- /.sidebar -->
        </aside>
      
        
        
        
        <div class="content-wrapper">
            {% block header %}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {% block title %}
                            Page Header
                        {% endblock %}
                        
                        <small>Optional description</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                        <li class="active">Here</li>
                    </ol>
                </section>
            {% endblock %}

            
                <!-- Main content -->
            <section class="content">
                {% block body %}

              <!-- Your Page Content Here -->
                {% endblock %}
            </section><!-- /.content -->
            
        </div><!-- /.content-wrapper -->
        
        

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>

    </div><!-- ./wrapper -->
      
      
      
      
    {% block importJS %}
        {% javascripts output="js/compiled/backOffice.js"
                "@backBundle/Resources/public/plugins/jQuery/jQuery-2.1.4.min.js"
                "@backBundle/Resources/public/bootstrap/js/bootstrap.min.js"
                "@backBundle/Resources/public/dist/js/app.min.js"
        %}
            <script src="{{ asset_url }}" charset="utf-8"></script>
            
            {% block personalJS %}
            

            {% endblock %}
            
        {% endjavascripts %}
    {% endblock %}
    
    
 
  </body>
</html>